<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyDigitalCloset"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".AboutUsPageActivity"
            android:exported="false" />
        <activity
            android:name=".SuccessPage"
            android:exported="false" />
        <activity
            android:name=".ContactForm"
            android:exported="true">
        </activity>
        
        <activity
            android:name=".Login"
            android:exported="true"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SignUp"
            android:exported="true"
            android:theme="@style/Theme.Design.Light.NoActionBar"></activity>
        <activity
            android:name=".OutfitCreationActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.Light.NoActionBar"></activity>
        
        <activity
            android:name="com.example.mydigitalcloset.clothingUpload"
            android:exported="false" >
        </activity>

        <activity
            android:name="com.example.mydigitalcloset.clothingFront"
            android:exported="true">
        </activity>
        <!-- duplicate login activity
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />

          -->
        <activity
            android:name=".closetPage.SavedOutfit"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".closetPage.AllSavedOufitsPage"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true">
       
       </activity>
            android:name=".clothingUpload"
            android:exported="false" />
        <activity
            android:name=".clothingFront"
            android:exported="true">
        </activity>

    </application>

</manifest>